<!-- Botón Volver -->
<div class="row">
  <div class="col-12 col-lg-8 mx-auto mt-4 mb-sm-5 mb-3">
    <div class="button-row d-flex mt-4">
      <a
        class="btn bg-gradient-dark mb-0 js-btn-prev"
        type="button"
        title="Prev"
        href="javascript:history.back()"
      >Volver</a>
    </div>
    <div class="multisteps-form__progress">
    </div>
  </div>
</div>